# #q1: list and its default function

In [1]:
lst =["vj"  , 10  ,765  ,95.0  ,[1 ,2 , 3]]

In [2]:
lst

['vj', 10, 765, 95.0, [1, 2, 3]]

In [3]:
lst.append("venom")

In [4]:
lst

['vj', 10, 765, 95.0, [1, 2, 3], 'venom']

In [5]:
lst.extend([4,5])

In [6]:
lst

['vj', 10, 765, 95.0, [1, 2, 3], 'venom', 4, 5]

In [7]:
lst.index(10)

1

In [8]:
lst.insert(1,345)

In [9]:
lst

['vj', 345, 10, 765, 95.0, [1, 2, 3], 'venom', 4, 5]

In [10]:
lst.pop(2)

10

In [13]:
lst.remove(765)

In [14]:
lst

['vj', 345, 95.0, [1, 2, 3], 'venom', 4, 5]

In [16]:
lst.reverse()

In [17]:
lst

[5, 4, 'venom', [1, 2, 3], 95.0, 345, 'vj']

In [32]:
lst.count("v")

0

In [37]:
lst1=["hello","melloi","john cena","amla paul"]

In [38]:
lst1.sort()

In [39]:
lst1

['amla paul', 'hello', 'john cena', 'melloi']

In [41]:
lst.clear()

In [42]:
lst

[]

In [44]:
lst1.copy()

['amla paul', 'hello', 'john cena', 'melloi']

In [45]:
lst2=lst1.copy()

In [46]:
lst2

['amla paul', 'hello', 'john cena', 'melloi']

In [47]:
# q2:dictionary and its default functions

In [48]:
dit = {"name":"vj",   "age":"20",    "number":"100",   "email":"annaajare@gmail.com"}

In [49]:
dit

{'name': 'vj', 'age': '20', 'number': '100', 'email': 'annaajare@gmail.com'}

In [52]:
dit2=dit.copy()

dit2

In [53]:
dit2

{'name': 'vj', 'age': '20', 'number': '100', 'email': 'annaajare@gmail.com'}

In [56]:
dit.get("number")

'100'

In [57]:
dit.items()

dict_items([('name', 'vj'), ('age', '20'), ('number', '100'), ('email', 'annaajare@gmail.com')])

In [58]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [60]:
dit.pop("number")

'100'

In [61]:
dit

{'name': 'vj', 'age': '20', 'email': 'annaajare@gmail.com'}

In [64]:
dit.popitem()

('email', 'annaajare@gmail.com')

In [67]:
dit.setdefault("name")

'vj'

In [73]:
dit.update({"age":"90"})

In [74]:
dit

{'name': 'vj', 'age': '90'}

In [75]:
#q3: set and its default functions

In [76]:
set ={ " legends","never","die"}

In [77]:
set

{' legends', 'die', 'never'}

In [80]:
set.add("checkit")

In [81]:
set

{' legends', 'checkit', 'die', 'never'}

In [82]:
set0=set.copy()

In [83]:
set0

{' legends', 'checkit', 'die', 'never'}

In [84]:
set.difference(set0)

set()

In [85]:
set1={'2','legends','5'}

In [86]:
set.difference(set1)

{' legends', 'checkit', 'die', 'never'}

In [89]:
set3=set.difference_update('3')

In [92]:
set1

{'2', '5', 'legends'}

In [98]:
set.discard('die')

In [99]:
set

{' legends', 'checkit', 'never'}

In [100]:
set.intersection(set1)

set()

In [101]:
set.isdisjoint(set1)

True

In [102]:
set1

{'2', '5', 'legends'}

In [103]:
set.issubset(set1)

False

In [104]:
set.issuperset(set1)

False

In [105]:
set.pop()

'checkit'

In [111]:
set.remove("never")

In [112]:
set

{' legends'}

In [114]:
set.symmetric_difference(set1)

{' legends', '2', '5', 'legends'}

In [115]:
set

{' legends'}

In [116]:
set3=set.union(set1)

In [117]:
set3

{' legends', '2', '5', 'legends'}

In [122]:
set3.update('hello')

In [123]:
set3

{' legends', '2', '5', 'e', 'h', 'l', 'legends', 'o', '{', '}'}

In [124]:
#q4 :tuple and itz default methods

In [125]:
tup=("anna","up","up","ajare")

In [126]:
tup

('anna', 'up', 'up', 'ajare')

In [127]:
tup.count("up")

2

In [128]:
tup.index('up')

1

In [129]:
# q5: strings and itz default functions

In [130]:
name="vinay"
name2="jackson"

In [131]:
name.capitalize()

'Vinay'

In [132]:
name.casefold()

'vinay'

In [138]:
name.center(40)

'                 vinay                  '

In [139]:
name.count('a')

1

In [140]:
name.encode()

b'vinay'

In [141]:
name.endswith('y')

True

In [142]:
name.expandtabs()

'vinay'

In [143]:
name.find('i')

1

In [144]:
name.format()

'vinay'

In [145]:
name.index('n')

2

In [146]:
name.isalnum()

True

In [147]:
name.isalpha()

True

In [148]:
name.isascii()

True

In [149]:
name.isascii()

True

In [150]:
name.isdecimal()

False

In [151]:
name.islower()

True

In [152]:
name.isupper()

False

In [154]:
name.join(name2)

'jvinayavinaycvinaykvinaysvinayovinayn'

In [156]:
name+" "+name2

'vinay jackson'

name.upper()

In [158]:
name.upper()

'VINAY'

In [159]:
name.split()

['vinay']