<a href="https://colab.research.google.com/github/vinay5555/VINAY/blob/master/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 
#Question 1
#Print the first ArmStrong number in the range of 1042000 to 702648265 and exit the loop as soon
#as you encounter the first armstrong number.
#Use while loop

In [1]:
 
 
lower = 1042000 
upper = 702648265
 
for num in range(lower, upper + 1):
 
   
   order = len(str(num))
    
  
   sum = 0
 
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10
 
   if num == sum:
       print(num)
       break;

1741725