<a href="https://colab.research.google.com/github/vinay5555/VINAY/blob/master/DAY6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
 # QUESTION1:CREATE A BANK ACCOUNT CLASS THAT HAS 2 ATTRIBUTES NAME AND BALANCE , AND 2 METHODS DEPOSIT AND WITHDRAW 
# INSTANTIATE UR CLASS ,MAKE SEVERAL DEPOSITS AND WITHDRAWALS AND TEST TO AMKE SYRE THAT ACCOUNT CANT BE OVERDRAWN...

In [22]:
class account():
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance
    def deposit(self,amount):
        self.amount=amount
        self.balance=self.balance+self.amount
        print("Available balance=",self.balance)
    def withdraw(self,amount1):
        self.amount1=amount1
        if self.amount1<=self.balance:
            self.balance=self.balance-self.amount1
            print("available balance =",self.balance)
        else:
            print("withdrawal amount exceeds the available amount")

In [23]:
 customer1=account("vj",0)

In [24]:
 customer1.deposit(5000)

Available balance= 5000

In [25]:
 customer1.deposit(5000)

Available balance= 10000

In [26]:
 customer1.withdraw(2000)

available balance = 8000

In [27]:
 customer1.withdraw(9000)

withdrawal amount exceeds the available amount

In [ ]:
 # QUESTION 2: FOR THIS CHALLENGE , CREATE  A CONE CLASS THAT HAS 2 ATTRIBUTES : RADIUS AND HEIGHT, AND 2 METHODS: VOLUME 
# AND SURFACE AREA  MAKE NLY 1 CLASS ED FUNCTIONS ,AS N WHERE REQUIRED IMPORT MATH.

In [35]:
 import math
class cone():
    def __init__(self,radius,height):
        self.radius =radius
        self.height=height
    def volume(self):
        print("volume of a cone = ", 3.142*self.radius*self.radius*self.height/3)
    def surfaceArea(self):
        print("surface area of a cone =",3.142*self.radius*self.radius + 3.142*self.radius*math.sqrt(self.radius*self.radius+self.height*self.height))

In [36]:
Values=cone(2,3)

In [37]:
Values.volume()

volume of a cone =  12.568

In [38]:
 Values.surfaceArea()

surface area of a cone = 35.225284215015705